/* src/styles.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* My Custom classes */
.customStyle {
    font-size: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #07051d;
    color: white;
}

nav .active {
    font-weight: 700;
    text-decoration: underline;
    text-underline-offset: 8px;
}
